@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

@import "tailwindcss";

@theme {
  --color-primary: #ea2378;
  --color-secondary: #191531;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.custom-prev,
.custom-next {
  color: #ec4899; /* Tailwind pink-500 */
}

.custom-prev:hover,
.custom-next:hover {
  color: #be185d; /* darker pink */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-18px);
    }
  }

  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.35;
    }
  }

  @keyframes pulse-slower {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.3;
    }
  }

  .float-anim {
    animation: float 3.5s ease-in-out infinite;
  }

  .animate-pulse-slow {
    animation: pulse-slow 4s ease-in-out infinite;
  }

  .animate-pulse-slower {
    animation: pulse-slower 5s ease-in-out infinite;
  }
}
